
<div class="page">

    <div class="about">
        <app-environment-filters
            [dateFrom]="dateFrom"
            [dateTo]="dateTo"
            [filters]="filters">
        </app-environment-filters>
    </div>

    <div class="content">

        <mat-card *ngIf="loading">
            <mat-card-content>
                <app-loading-view></app-loading-view>
            </mat-card-content>
        </mat-card>


        <mat-card *ngIf="!loading">
            <mat-card-content>
                <h1 style="text-align: center;">What is my CO2 emission?</h1>
                <p style="text-align: center;">
                    {{ dateFrom | date }} to {{ dateTo | date }}
                </p>
                <mat-divider></mat-divider>
                &nbsp;<br>

                <div class="legend" style="padding: 15px 0">
                    <div class="fill-remaining">
                        <h2 style="text-align: center;">
                            Total:<br>
                            <b>{{ co2Total | formatNumber : 2 }} kg.</b>
                        </h2>
                    </div>
                    <div class="fill-remaining">
                        <h2 style="text-align: center;">
                            Relative:<br>
                            <b>{{ co2Relative | formatNumber : 2 }} g/kWh</b>
                        </h2>
                    </div>
                    <div class="fill-remaining">
                        <h2 style="text-align: center;">
                            Compared to general:<br>
                            <b>
                                <span *ngIf="co2Compared > 0" style="color: red;">+{{ co2Compared | formatNumber : 1 }}%</span>
                                <span *ngIf="co2Compared < 0" style="color: green;">{{ co2Compared | formatNumber : 1 }}%</span>
                            </b>
                        </h2>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>


        <div *ngIf="!loading" class="legend" style="margin: 0">
            <mat-card class="fill-remaining" style="width: calc(50% - 5px);">
                <mat-card-content style="text-align: center;">
                    <h2><b>Renewable energy</b></h2>
                    <p>{{ cleanEnergyPercentage | formatNumber : 1  }}% electricity from Wind, Solar, and Hydro</p>
                    <mat-progress-bar
                        mode="true"
                        color="warn"
                        [value]="cleanEnergyPercentage">
                    </mat-progress-bar>
                    <br>
                    <button mat-button>CLICK FOR DETAILS</button>
                </mat-card-content>
            </mat-card>
            <div style="width: 10px"></div>
            <mat-card class="fill-remaining" style="width: calc(50% - 5px);">
                <mat-card-content style="text-align: center;">
                    <h2><b>GGO share</b></h2>
                    <p>{{ ggoPercentage | formatNumber : 1  }}% electricity from GGOs</p>
                    <mat-progress-bar
                        mode="true"
                        color="warn"
                        [value]="ggoPercentage">
                    </mat-progress-bar>
                    <br>
                    <button mat-button>CLICK FOR DETAILS</button>
                    <p *ngIf="false">** mix er den resterende andel af energi i nettet der ikke er dokumenteret ved hjælp af GGOer</p>
                </mat-card-content>
            </mat-card>
        </div>


      <mat-card *ngIf="hasData && !loading">
        <mat-card-content>
            <h1>Origin of Technology</h1>

            <canvas baseChart
                *ngIf="techChartData"
                [width]="400"
                [height]="200"
                [chartType]="techChartType"
                [data]="techChartData"
                [labels]="techChartLabels"
                [options]="techChartOptions"
                [colors]="techChartColors">
            </canvas>

            <br><br>


            <div class="legend">
                <div class="fill-remaining"></div>
                <button mat-button class="send" *ngIf="!expandTechnologies" (click)="expandTechnologies=true">
                    Show detailed technologies
                </button>
                <div class="fill-remaining"></div>
            </div>


            <table width="100%" cellpadding="10" cellspacing="2" *ngIf="expandTechnologies">
                <tr style="background-color: #f1f1f1;">
                    <th colspan="2">Technology</th>
                    <th style="text-align: right; background-color: #e1e1e1;">Usage</th>
                    <th colspan="2">Percent of overall usage</th>
                </tr>
                <tr style="background-color: #f1f1f1;" *ngFor="let technology of technologies">
                    <td style="width: 32px;">
                        <div class="energy-type-avatar {{ technology.technology }}"></div>
                    </td>
                    <td>
                        <div>{{ technology.technology }}</div>
                    </td>
                    <td style="width: 25%; text-align: right; background-color: #e1e1e1;">
                        {{ technology.amount | formatAmount }}
                    </td>
                    <td style="width: 25%; text-align: right;">
                        {{ technology.percent | formatNumber : 2 }}%
                    </td>
                    <td style="width: 25%">
                        <mat-progress-bar
                            mode="determinate"
                            color="warn"
                            [value]="technology.percent">
                        </mat-progress-bar>
                    </td>
                </tr>
            </table>


        </mat-card-content>
    </mat-card>


        <mat-card>
            <mat-card-content>
            <div class="legend">
                <h1>All Emissions</h1>
                <div class="fill-remaining"></div>
                <button mat-flat-button color="primary" (click)="exportPDF()">EXPORT PDF</button>
                &nbsp;
                <button mat-flat-button
                    color="primary"
                    [matMenuTriggerFor]="menu">
                    EXPORT CSV
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="exportEmissionsCSV()">Emissions (g)</button>
                    <button mat-menu-item (click)="exportTechnologiesCSV()">Technologies (Wh)</button>
                </mat-menu>
            </div>


            <app-loading-view *ngIf="loading"></app-loading-view>


            <div *ngIf="hasData && !loading">
                <p style="font-size: 20px;">
                    Total consumption: <b>{{ individual.totalConsumedAmount | formatAmount}}</b>
                </p>


                <table width="100%" cellpadding="10" cellspacing="2">
                    <tr style="background-color: #f1f1f1;">
                        <th></th>
                        <th colspan="2" style="background-color: #e1e1e1;">Min udledning</th>
                        <th>Generelt mix (Danmark)</th>
                        <th>Difference</th>
                    </tr>
                    <tr style="background-color: #f1f1f1;">
                        <td><b>Emissioner til luften</b></td>
                        <td style="text-align: right; background-color: #e1e1e1;"><b>Total</b></td>
                        <td style="text-align: right; background-color: #e1e1e1;"><b>g/kWh</b></td>
                        <td style="text-align: right;"><b>g/kWh</b></td>
                        <td style="text-align: right;"><b>Percent</b></td>
                    </tr>
                    <tr class="emission"
                        *ngFor="let emission of emissions_in_air"
                        (click)="showEmissionDetailsPopup(emission)">

                        <td [innerHTML]="getHtmlLabel(emission)"></td>
                        <td style="background-color: #e1e1e1; text-align: right;">
                            {{ getTotalEmissions(individual, emission) | formatEmission }}
                        </td>
                        <td style="background-color: #e1e1e1; text-align: right;">
                            {{ getEmissionsPerkWh(individual, emission) | formatNumber : 2 }} g/kWh
                        </td>
                        <td style="text-align: right;">
                            {{ getEmissionsPerkWh(general, emission) | formatNumber : 2 }} g/kWh
                        </td>
                        <td style="text-align: right;">
                            <ng-container *ngIf="getDeltaEmissionsPerkWh(individual, general, emission);let deltaEmission">
                                <span *ngIf="deltaEmission > 0" style="color: red;">+{{ deltaEmission | formatNumber : 1 }}%</span>
                                <span *ngIf="deltaEmission < 0" style="color: green;">{{ deltaEmission | formatNumber : 1 }}%</span>
                                <span *ngIf="deltaEmission == 0">{{ deltaEmission | formatNumber : 1 }}%</span>
                            </ng-container>
                        </td>
                    </tr>
                    <tr style="background-color: #f1f1f1;">
                        <td><b>Restprodukter</b></td>
                        <td style="text-align: right; background-color: #e1e1e1;"><b>Total</b></td>
                        <td style="text-align: right; background-color: #e1e1e1;"><b>g/kWh</b></td>
                        <td style="text-align: right;"><b>g/kWh</b></td>
                        <td style="text-align: right;"><b>Percent</b></td>
                    </tr>
                    <tr class="emission"
                        *ngFor="let emission of residues"
                        (click)="showEmissionDetailsPopup(emission)">

                        <td [innerHTML]="getHtmlLabel(emission)"></td>
                        <td style="background-color: #e1e1e1; text-align: right;">
                            {{ getTotalEmissions(individual, emission) | formatEmission }}
                        </td>
                        <td style="background-color: #e1e1e1; text-align: right;">
                            {{ getEmissionsPerkWh(individual, emission) | formatNumber : 2 }} g/kWh
                        </td>
                        <td style="text-align: right;">
                            {{ getEmissionsPerkWh(general, emission) | formatNumber : 2 }} g/kWh
                        </td>
                        <td style="text-align: right;">
                            <ng-container *ngIf="getDeltaEmissionsPerkWh(individual, general, emission);let deltaEmission">
                                <span *ngIf="deltaEmission > 0" style="color: red;">+{{ deltaEmission | formatNumber : 1 }}%</span>
                                <span *ngIf="deltaEmission < 0" style="color: green;">{{ deltaEmission | formatNumber : 1 }}%</span>
                                <span *ngIf="deltaEmission == 0">{{ deltaEmission | formatNumber : 1 }}%</span>
                            </ng-container>
                        </td>
                    </tr>
                </table>


                <!-- <div *ngIf="false">
                    <br><br>

                    <h1>Total emissions</h1>
                    
                    <canvas baseChart
                        width="2"
                        height="1"
                        [datasets]="totalEmissionsChartData"
                        [labels]="totalEmissionsChartLabels"
                        [options]="totalEmissionsChartOptions"
                        [legend]="totalEmissionsChartLegend"
                        [chartType]="totalEmissionsChartType">
                    </canvas>


                    <br><br>


                    <h1>Relative emissions (gram/kWh)</h1>
                    
                    <canvas baseChart
                        width="2"
                        height="1"
                        [datasets]="relativeEmissionsChartData"
                        [labels]="relativeEmissionsChartLabels"
                        [options]="relativeEmissionsChartOptions"
                        [legend]="relativeEmissionsChartLegend"
                        [chartType]="relativeEmissionsChartType">
                    </canvas>
                </div> -->
            </div>

          </mat-card-content>
      </mat-card>


      <mat-card *ngIf="false && hasData && !loading">
        <mat-card-content>
            <h1>Origin of Technology</h1>

            <canvas baseChart
                *ngIf="techChartData"
                [width]="400"
                [height]="200"
                [chartType]="techChartType"
                [data]="techChartData"
                [labels]="techChartLabels"
                [options]="techChartOptions"
                [colors]="techChartColors">
            </canvas>

            <br><br>


            <table width="100%" cellpadding="10" cellspacing="2">
                <tr style="background-color: #f1f1f1;">
                    <th colspan="2">Technology</th>
                    <th style="text-align: right; background-color: #e1e1e1;">Usage</th>
                    <th colspan="2">Percent of overall usage</th>
                </tr>
                <tr style="background-color: #f1f1f1;" *ngFor="let technology of technologies">
                    <td style="width: 32px;">
                        <div class="energy-type-avatar {{ technology.technology }}"></div>
                    </td>
                    <td>
                        <div>{{ technology.technology }}</div>
                    </td>
                    <td style="width: 25%; text-align: right; background-color: #e1e1e1;">
                        {{ technology.amount | formatAmount }}
                    </td>
                    <td style="width: 25%; text-align: right;">
                        {{ technology.percent | formatNumber : 2 }}%
                    </td>
                    <td style="width: 25%">
                        <mat-progress-bar
                            mode="determinate"
                            color="warn"
                            [value]="technology.percent">
                        </mat-progress-bar>
                    </td>
                </tr>
            </table>


        </mat-card-content>
    </mat-card>

    </div>

</div>
