
.summary {
    margin-bottom: 30px;
}

.table-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    margin-bottom: 2px;
}

.table-legend {
    padding: 10px 20px;
    color: #363636;
    background-color: #f0efef;
}

.table-item {
    padding: 8px 20px;
}


.technology { flex: 2 2 0; }
.traded { flex: 1 1 0; }
.total { font-weight: bold; }

.avatar {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 9px;
}
