
<mat-card>
    <mat-card-content>

        <div class="about">
            <h1>About</h1>
            <p>
                This page gives you an overview of all your current GGO transfer agreements. 
            </p>
            <p>
                Each agreement is automatically processed when you receive new GGOs.
            </p>
            <p>
                Each transfer agreement has an amount. This is the maximum amount of Wh, that will be transferred per hour.
            </p>
        </div>

    </mat-card-content>
</mat-card>


<mat-card>
    <mat-card-content>

        <div class="legend">
            <h1 *ngIf="isAggregated()">All agreements</h1>
            <h1 *ngIf="!isAggregated()">Agreement details</h1>

            <div class="fill-remaining"></div>
            <button mat-flat-button color="primary" (click)="exportTransferGgoSummary()">EXPORT CSV</button>
        </div>

        
        <form [formGroup]="form">
            <div class="filter">
                <div class="icon">
                    <img src="/assets/icon_date.png">
                </div>
                <div class="label">Date:</div>
                <div class="field daterange">
                    <input matInput class="dateinput" [satDatepicker]="datePicker" disabled formControlName="date"
                        [min]="minDate"
                        [max]="maxDate">
                    <sat-datepicker #datePicker [rangeMode]="true" disabled="false"></sat-datepicker>
                    <sat-datepicker-toggle matSuffix [for]="datePicker" class="datepicker"></sat-datepicker-toggle>
                </div>
            </div>
        </form>


        <app-loading-view *ngIf="loading"></app-loading-view>


        <div class="summary" *ngIf="!loading && datasets.length > 0">
            <h2>Transfer summary</h2>

            <div class="table-row table-legend">
                <span class="technology">Technology</span>
                <span class="traded">Transferred</span>
            </div>

            <div class="table-row table-item" *ngFor="let dataset of datasets">
                <span class="technology">
                    <div class="avatar" [ngClass]="dataset.label"></div>
                    {{ dataset.label }}
                </span>
                <span class="traded">
                    {{ dataset.amount | formatAmount }}
                </span>
            </div>

            <div class="table-row table-legend total">
                <span class="technology">Total</span>
                <span class="traded">
                    {{ total | formatAmount }}
                </span>
            </div>
        </div>



        <div class="plot" [class.loading]="loading" *ngIf="!loading && chartData.length > 0">
            <app-energy-plot
                [loading]="loading"
                [error]="error"
                [lines]="chartData"
                [labels]="chartLabels"
                (reload)="loadSummaryData()">
            </app-energy-plot>
        </div>



        <div class="plot" [class.loading]="loading" *ngIf="!loading && chartData.length == 0" style="margin: 30px 0;">
            No transfer data has been recorded
        </div>


        <button mat-flat-button
            color="warn"
            *ngIf="canCancel()"
            (click)="cancelAgreement()">
            CANCEL AGREEMENT
        </button>

    </mat-card-content>
</mat-card>
