
.summary {
    margin-bottom: 30px;
}

.table-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    margin-bottom: 2px;
}

.table-legend {
    padding: 10px 20px;
    color: #363636;
    background-color: #f0efef;
}

.table-item {
    padding: 8px 20px;
}


.technology { flex: 2 2 0; }
.traded { flex: 1 1 0; }
.total { font-weight: bold; }

.avatar {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 9px;
}



.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 ;
}

.filter .icon {
    flex: 1 1 0;
    min-width: 26px;
}

.filter .label {
    flex: 3 3 0;
    min-width: 60px;
    font-size: 16px;
    font-weight: bold;
    color: #2b505d;
}

.filter .field {
    flex: 9 9 0;
    display: flex;
    min-width: 100px;
    padding: 8px 15px;
    border: #679b9c solid 2px;
    border-radius: 20px;
    font-size: 1em;
    font-weight: bold;
    color: #a6a6a6;
}

.filter .field input {
    flex-grow: 1;
    outline: none;
    border: none;
}

input:disabled {
    background-color: white;
    font-size: 1em;
    font-weight: bold;
    color: #a6a6a6;
}


.filter .field.daterange {
    padding-top: 6px;
    padding-bottom: 5px;
}

.filter .field.daterange sat-datepicker-toggle {
    flex-grow: 0;
}

::ng-deep .filter  .daterange .mat-icon-button {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px;
}
