<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <img src="assets/logo.png">

        <div class="fill-remaining"></div>

        <a mat-button routerLink="/app/dashboard" [class.current]="isDashboard" class="main">
            {{ 'MAIN.TOOLBAR.DASHBOARD' | translate }}
        </a>
        <div class="space"></div>
        <a mat-button [matMenuTriggerFor]="ggoMenu" [class.current]="isGgos" class="main">
            {{ 'MAIN.TOOLBAR.GGOS' | translate }}
        </a>
        <div class="space"></div>
        <a mat-button routerLink="/app/emissions" [class.current]="isEmissions" class="main">
            {{ 'MAIN.TOOLBAR.EMISSIONS' | translate }}
        </a>
        <div class="space"></div>
        <a mat-button routerLink="/app/transfer" [class.current]="isTransfer" class="main">
            {{ 'MAIN.TOOLBAR.TRANSFER' | translate }}
        </a>
        <div class="space"></div>
        <a mat-button routerLink="/app/facilities" [class.current]="isFacilities" class="main">
            {{ 'MAIN.TOOLBAR.FACILITIES' | translate }}
        </a>
        <div class="space"></div>
        <a mat-button routerLink="/app/support" [class.current]="isSupport" class="main">
            {{ 'MAIN.TOOLBAR.SUPPORT' | translate }}
        </a>

        <div class="fill-remaining"></div>

        <button mat-button [matMenuTriggerFor]="menu" class="user">
            <div class="user">
                <p class="name">
                    <b>{{ user.company }}</b><br>
                    {{ user.name }}
                </p>
                <div class="space"></div>
                <div class="avatar">
                    <div class="badge" *ngIf="hasPendingProposals()">
                        {{ pendingProposals }}
                    </div>
                </div>
            </div>
        </button>



        <!-- GGOs dropdown -->
        <mat-menu #ggoMenu="matMenu">
            <a mat-menu-item routerLink="/app/ggo-overview">
                {{ 'MAIN.TOOLBAR.GGO-OVERVIEW' | translate }}
            </a>
            <a mat-menu-item routerLink="/app/commodities">
                {{ 'MAIN.TOOLBAR.COMMODITIES' | translate }}
            </a>
            <a mat-menu-item routerLink="/app/retire">
                {{ 'MAIN.TOOLBAR.RETIRE' | translate }}
            </a>
            <a mat-menu-item routerLink="/app/disclosure">
                {{ 'MAIN.TOOLBAR.DISCLOSURE' | translate }}
            </a>
            <a mat-menu-item routerLink="/app/forecast">
                {{ 'MAIN.TOOLBAR.FORECAST' | translate }}
            </a>
        </mat-menu>
        <!-- /GGOs dropdown -->


        <!-- User dropdown -->
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/app/transfer" class="pending-proposal" *ngIf="hasPendingProposals()">
                {{ 'MAIN.TOOLBAR.PENDING-PROPOSALS' | translate }} ({{ pendingProposals }})
            </button>

            <button mat-menu-item (click)="editProfil()">
                {{ 'MAIN.TOOLBAR.EDIT-PROFILE' | translate }}
            </button>
            <button mat-menu-item (click)="showAccountDetails()">
                {{ 'MAIN.TOOLBAR.ACCOUNT-DETAILS' | translate }}
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="changeLanguage('en')" [class.selected]="isEnglish">
                English
            </button>
            <button mat-menu-item (click)="changeLanguage('da')" [class.selected]="isDanish">
                Dansk
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logOut()">
                {{ 'MAIN.TOOLBAR.LOG-OUT' | translate }}
            </button>
        </mat-menu>
        <!-- /User dropdown -->

    </mat-toolbar-row>
</mat-toolbar>
