<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <img src="assets/logo.png">

        <div class="fill-remaining"></div>

        <a mat-button routerLink="/app/dashboard" [class.current]="isDashboard()">DASHBOARD</a>
        <div class="space"></div>
        <a mat-button routerLink="/app/commodities" [class.current]="isCommodities()">COMMODITIES</a>
        <div class="space"></div>
        <a mat-button routerLink="/app/emissions" [class.current]="isEmissions()">EMISSIONS</a>
        <div class="space"></div>
        <a mat-button routerLink="/app/transfer" [class.current]="isTransfer()">TRANSFER</a>
        <div class="space"></div>
        <a mat-button routerLink="/app/retire" [class.current]="isRetire()">RETIRE</a>
        <div class="space"></div>
        <a mat-button routerLink="/app/facilities" [class.current]="isFacilities()">FACILITIES</a>
        <div class="space"></div>
        <a mat-button routerLink="/app/disclosure" [class.current]="isDisclosure()">DISCLOSURE</a>
        <div class="space"></div>
        <a mat-button routerLink="/app/support" [class.current]="isSupport()">SUPPORT</a>

        <div class="fill-remaining"></div>

        <button mat-button [matMenuTriggerFor]="menu" class="user">
            <div class="user">
                <p class="name">
                    <b>{{ user.company }}</b><br>
                    {{ user.name }}
                </p>
                <div class="space"></div>
                <div class="avatar">
                    <div class="badge" *ngIf="hasPendingProposals()">
                        {{ pendingProposals }}
                    </div>
                </div>
            </div>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/app/transfer" class="pending-proposal" *ngIf="hasPendingProposals()">
                Pending proposals ({{ pendingProposals }})
            </button>

            <button mat-menu-item (click)="editProfil()">Edit profile</button>
            <button mat-menu-item (click)="showAccountDetails()">Account details</button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logOut()">Log out</button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
