
<div class="dialog-header">
    <h1>{{ 'MAIN.ONBOARDING-DIALOG.HEADLINE' | translate }}</h1>
    <h2>{{ 'MAIN.ONBOARDING-DIALOG.INTRO' | translate }}</h2>
</div>


<div class="dialog-body">
    <p style="white-space: pre-wrap;">
        {{ 'MAIN.ONBOARDING-DIALOG.TEXT' | translate }}
    </p>

    <div class="legend">
        <div class="fill-remaining"></div>
        <a mat-button
            type="button"
            class="send"
            (click)="startOnboarding()">
            {{ 'MAIN.ONBOARDING-DIALOG.BUTTON-TEXT' | translate }}
        </a>
        <div class="fill-remaining"></div>
    </div>
</div>
