<div class="page">

    <!-- Left column -->
    <div class="about">
        <mat-card>
            <mat-card-content>
                <h1>{{ 'SUPPORT.ABOUT.HEADLINE' | translate }}</h1>

                <p style="white-space: pre-wrap;">
                    {{ 'SUPPORT.ABOUT.TEXT' | translate }}
                </p>

            </mat-card-content>
        </mat-card>
    </div>
    <!-- /Left column -->


    <!-- Right column -->
    <div class="content">
        <mat-card>
            <mat-card-content>
                <h1>{{ 'SUPPORT.HEADLINE' | translate }}</h1>
                <p>{{ 'SUPPORT.TEXT' | translate }}</p>

                <br>

                <app-support-form></app-support-form>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- /Right column -->

</div>
