
<div class="retire">

    <div class="about">
        <mat-card>
            <mat-card-content>
                <h1>About</h1>
                
                <p>
                    On this page you can chose which of your consumption facilities should get your GGOs.
                </p>
                <p>
                    To change the priority drag you facilities to the correct order. <br>
                    The top one is the highest priority to guarantee the origin of. <br>
                    The system will now automatically retire new GGOs to these facilities.
                </p>
                <p>
                    Facilities in the lower part will not receive any GGOs.
                </p>

                <h1>Retire back in time</h1>
                <p>
                    If you have moved a facility into "Receiving facilities" and want to retire previous stored GGOs to them, click this button bellow. <br>
                    The process may take a while to complete.
                </p>
                
                <p *ngIf="!retiringBackInTime">
                    <button type="button" mat-flat-button color="primary" (click)="retireBackInTime()">
                        RETIRE NOW
                    </button>
                </p>

                <p *ngIf="retiringBackInTime">
                    Retiring in progress...
                </p>

                <p *ngIf="retiringBackInTimeError" style="color:red">
                    Failed to start retiring, please try again
                </p>
            </mat-card-content>
        </mat-card>
    </div>


    <div class="list">
        
        <mat-card>
            <mat-card-content>
                <div class="legend">
                    <h1>GGO Retire Priority</h1>
                    <div class="fill-remaining"></div>
                    <app-spinner-text
                        text="Saving changes..."
                        [diameter]="16"
                        *ngIf="submitting"></app-spinner-text>
                </div>
        

                <app-loading-view *ngIf="loadingFacilities"></app-loading-view>


                <div *ngIf="!loadingFacilities">

                    <!-- Active -->
                    <div class="facility-table">
                        <h2>Receiving Facilities</h2>
                        <div class="table-row table-legend">
                            <span class="name-gsrn">Name</span>
                            <span class="address">Address</span>
                            <span class="tags">Tags</span>
                            <span class="priority">Priority</span>
                            <span class="icon"></span>
                        </div>
                        
                        <div cdkDropList
                            #activeList="cdkDropList"
                            cdkDropListOrientation="vertical"
                            [cdkDropListData]="active"
                            [cdkDropListConnectedTo]="[inactiveList]"
                            (cdkDropListDropped)="drop($event)">

                            <div class="table-row empty" *ngIf="active.length == 0">
                                <div>
                                    <b>No consuming facilities are set to receive GGOs when transferring</b>
                                    <br><br>
                                    Drag facilities up here for them to receive GGOs in the prioritized
                                    order GGOs should be distributed
                                </div>
                            </div>

                            <div matRipple cdkDrag class="table-row table-item" *ngFor="let facility of active">
                                <span class="name-gsrn">
                                    <span class="name">{{ facility.name }}</span>
                                    {{ facility.gsrn }}
                                </span>
                                <span class="address">
                                    {{ facility.address }}<br>
                                    {{ facility.postcode }} {{ facility.cityName }}
                                </span>
                                <span class="tags">
                                    {{ facility.tags.join(', ') }}
                                </span>
                                <span class="priority">
                                    {{ getPriority(facility) }}
                                    <!-- <mat-spinner [diameter]="24" *ngIf="isLoading(facility)"></mat-spinner> -->
                                </span>
                                <span class="icon">
                                    <img src="/assets/icon_sort.png">
                                </span>
                            </div>
                        </div>
                    </div>
            

                    <!-- Inactive -->
                    <div class="facility-table">
                        <h2>Facilities not receiving GGOs</h2>
                        <div class="table-row table-legend">
                            <span class="name-gsrn">Name</span>
                            <span class="address">Address</span>
                            <span class="tags">Tags</span>
                            <span class="priority"></span>
                            <span class="icon"></span>
                        </div>
                        
                        <div cdkDropList
                            #inactiveList="cdkDropList"
                            cdkDropListOrientation="vertical"
                            [cdkDropListData]="inactive"
                            [cdkDropListConnectedTo]="[activeList]"
                            (cdkDropListDropped)="drop($event)">

                            <div matRipple cdkDrag class="table-row table-item inactive" *ngFor="let facility of inactive">
                                <span class="name-gsrn">
                                    <span class="name">{{ facility.name }}</span>
                                    {{ facility.gsrn }}
                                </span>
                                <span class="address">
                                    {{ facility.address }}<br>
                                    {{ facility.postcode }} {{ facility.cityName }}
                                </span>
                                <span class="tags">
                                    {{ facility.tags.join(', ') }}
                                </span>
                                <span class="priority">
                                    <!-- <mat-spinner [diameter]="24" *ngIf="isLoading(facility)"></mat-spinner> -->
                                </span>
                                <span class="icon">
                                    <img src="/assets/icon_sort.png">
                                </span>
                            </div>

                            <div class="table-row empty" *ngIf="inactive.length == 0">
                                <div>
                                    <b>All consuming facilities are set to receive GGOs when transferring</b>
                                    <br><br>
                                    Drag facilities down here to disable receiving of GGOs
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </mat-card-content>
        </mat-card>

    </div>
</div>

