
/*
 * https://www.chartjs.org/docs/latest/general/responsive.html
 */

.container {
    position: relative;
}

.plot {
    position: relative;
    width: 100%;
}

.plot.overlayed {
    background-color: white;
    opacity: 0.3;
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    text-align: center;
    font-weight: bold;
    color: #ba0000;
}
