<div class="page">

    <!-- Left column -->
    <div class="about">
        <mat-card>
            <mat-card-content>
                <h1>{{ 'DISCLOSURE.ABOUT.HEADLINE' | translate }}</h1>

                <p style="white-space: pre-wrap;">
                    {{ 'DISCLOSURE.ABOUT.TEXT' | translate }}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- /Left column -->


    <!-- Right column -->
    <div class="content">
        <mat-card>
            <mat-card-content>
                <h1>{{ 'DISCLOSURE.HEADLINE' | translate }}</h1>

                <div class="table-row empty" *ngIf="disclosures.length == 0">
                    <div>
                        <b>{{ 'DISCLOSURE.EMPTY.HEADLINE' | translate }}</b>
                        <br><br>
                        {{ 'DISCLOSURE.EMPTY.TEXT' | translate }}
                    </div>
                </div>

                <div class="table-row table-legend" *ngIf="disclosures.length > 0">
                    <span class="name">{{ 'COMMON.NAME' | translate }}</span>
                    <span class="dates">{{ 'COMMON.DATES' | translate }}</span>
                    <span class="buttons"></span>
                </div>

                <div class="table-row table-item" *ngFor="let disclosure of disclosures">
                    <span class="name">
                        <b>{{ disclosure.name }}</b><br>
                        {{ disclosure.description }}
                    </span>
                    <span class="dates">
                        {{ 'COMMON.BEGIN' | translate }}: <b>{{ disclosure.begin | date}}</b><br>
                        {{ 'COMMON.END' | translate }}: <b>{{ disclosure.end | date}}</b>
                    </span>
                    <span class="buttons">
                        <button mat-flat-button color="warn" (click)="deleteDisclosure(disclosure)">
                            {{ 'COMMON.DELETE' | translate }}
                        </button>
                        
                        &nbsp;
                        
                        <a mat-flat-button
                            color="primary"
                            target="_blank"
                            routerLink="/disclosure/{{ disclosure.id }}">
                            {{ 'COMMON.VIEW' | translate }}
                        </a>
                    </span>
                </div>
                
            </mat-card-content>
        </mat-card>
    </div>
    <!-- /Right column -->

</div>
