
<div class="retire">

    <div class="about">
        <mat-card>
            <mat-card-content>
                <h1>About</h1>
                <p>
                    Spam and bacon
                </p>
            </mat-card-content>
        </mat-card>
    </div>


    <div class="list">
        
        <mat-card>
            <mat-card-content>
                <h1>Data Disclosure</h1>
                <h2>Public datasets</h2>

                <div class="table-row table-legend">
                    <span class="name-gsrn">Name</span>
                    <span class="address">Address</span>
                    <span class="tags">Tags</span>
                    <span class="priority">Priority</span>
                    <span class="icon"></span>
                </div>
                

                <div class="table-row empty" *ngIf="false">
                    <div>
                        <b>No consuming facilities are set to receive GGOs when trading</b>
                        <br><br>
                        Drag facilities up here for them to receive GGOs in the prioritized
                        order GGOs should be distributed
                    </div>
                </div>

                <div matRipple class="table-row table-item">
                    <span class="name-gsrn">
                        asd
                    </span>
                    <span class="address">
                        asd
                    </span>
                    <span class="tags">
                        Wind, Offshore
                    </span>
                    <span class="priority">
                        asd
                    </span>
                    <span class="icon">
                        <img src="/assets/icon_sort.png">
                    </span>
                </div>
                
            </mat-card-content>
        </mat-card>
        
    </div>

</div>
