
.table-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
}

.table-legend {
    margin: 10px 0;
    padding: 10px 20px;
    color: #363636;
    background-color: #f0efef;
}

.table-item {
    padding: 17px 20px;
    margin-bottom: 2px;
    border: #d2d2d2 solid 2px;
}

.table-item.selected {
    background-color: #f0efef;
    border: #61ac95 solid 2px;
}


.name { flex: 4 4 0; }
.dates { flex: 3 3 0; }
.buttons { flex: 2 2 0; }

.empty {
    padding: 40px 0;
    margin-bottom: 2px;
    justify-content: center;
    text-align: center;
    border: #d2d2d2 solid 2px;
}
