
<div class="dialog-header">
    <h1>{{ 'DISCLOSURE.CREATE-DISCLOSURE.HEADLINE' | translate }}</h1>
    <h2>{{ 'DISCLOSURE.CREATE-DISCLOSURE.INTRO' | translate }}</h2>
</div>


<div class="dialog-body">

    <app-loading-view *ngIf="loadingPreview"></app-loading-view>

    <div *ngIf="!loadingPreview && !submitted" class="list">

        <!-- Dates -->
        <div class="legend">
            <div><img src="/assets/icon_date.png"></div>
            <div>
                &nbsp;
                {{ 'COMMON.FROM' | translate }}:
                <b>{{ dateFrom | date }}</b>
            </div>
            <div class="fill-remaining"></div>
            <div><img src="/assets/icon_date.png"></div>
            <div>
                &nbsp;
                {{ 'COMMON.TO' | translate }}:
                <b>{{ dateTo | date }}</b>
            </div>
        </div>


        <!-- Name -->
        <input matInput
            type="text"
            placeholder="{{ 'DISCLOSURE.CREATE-DISCLOSURE.NAME-PLACEHOLDER' | translate }}"
            class="field"
            [(ngModel)]="name">


        <!-- Description -->
        <input matInput
            type="text"
            placeholder="{{ 'DISCLOSURE.CREATE-DISCLOSURE.DESCRIPTION-PLACEHOLDER' | translate }}"
            class="field"
            [(ngModel)]="description">


        <!-- Max resolution -->
        <div class="field">
            <mat-select
                [(ngModel)]="maxResolution" 
                placeholder="{{ 'DISCLOSURE.CREATE-DISCLOSURE.MAX-DATA-RESOLUTION' | translate }}">

                <mat-option *ngFor="let resolution of possibleResolutions" [value]="resolution">
                    {{ getResolutionLabel(resolution) }}
                </mat-option>
            </mat-select>
        </div>


        <!-- Options -->
        <div class="table-item" *ngIf="previewFacilities.length > 0">
            <mat-radio-group aria-label="Select an option" [(ngModel)]="publicizeMeteringpoints">
                <mat-radio-button [value]="false">
                    {{ 'DISCLOSURE.CREATE-DISCLOSURE.DISCLOSE-AGGREGATED-DATA' | translate }}
                </mat-radio-button>
                <br><br>
                <mat-radio-button [value]="true">
                    {{ 'DISCLOSURE.CREATE-DISCLOSURE.DISCLOSE-FACILITIES-SEPERATELY' | translate }}
                </mat-radio-button>
            </mat-radio-group>

            
            <div *ngIf="publicizeMeteringpoints" style="margin-top: 10px; padding-left: 30px;">
                <mat-checkbox [(ngModel)]="publicizeGsrn">
                    {{ 'DISCLOSURE.CREATE-DISCLOSURE.DISCLOSE-GSRN' | translate }}
                </mat-checkbox><br>
                <mat-checkbox [(ngModel)]="publicizePhysicalAddress">
                    {{ 'DISCLOSURE.CREATE-DISCLOSURE.DISCLOSE-PHYSICAL-ADDRESS' | translate }}
                </mat-checkbox>
            </div>
        </div>


        <!-- No facilities available -->
        <div class="table-item" style="text-align: center;" *ngIf="previewFacilities.length == 0">
            <p><b>{{ 'DISCLOSURE.CREATE-DISCLOSURE.NO-FACILITIES-CHOSEN' | translate }}</b></p>
            <p>{{ 'DISCLOSURE.CREATE-DISCLOSURE.NO-FACILITIES-CHOSEN-TEXT' | translate }}</p>
        </div>


        <!-- Facility list -->
        <div class="table-row table-item" *ngFor="let facility of previewFacilities">
            <span class="checkbox">
                <mat-checkbox 
                    checked="!isSelected(facility)"
                    (click)="toggleSelection(facility)"></mat-checkbox>
            </span>
            <span class="name-gsrn">
                <span class="name">{{ facility.name }}</span>
                {{ facility.gsrn }}
            </span>
            <span class="address">
                {{ facility.address }}<br>
                {{ facility.postcode }} {{ facility.cityName }}
            </span>
        </div>


        <!-- Buttons -->
        <div class="legend" style="margin-top: 30px;">
            <button mat-button
                type="button"
                class="cancel"
                (click)="closeDialog()">
                {{ 'COMMON.CANCEL' | translate }}
            </button>

            <div class="fill-remaining"></div>

            <button mat-button
                type="button"
                class="send"
                [disabled]="!canSubmit()"
                (click)="createDisclosure()">
                {{ 'DISCLOSURE.CREATE-DISCLOSURE.BUTTON-TEXT' | translate }}
            </button>
        </div>
    </div>


    <!-- Submitted confirmation -->
    <div *ngIf="!loadingPreview && submitted" class="list">
        <div class="table-item" style="text-align: center;">
            <b>{{ 'DISCLOSURE.CREATE-DISCLOSURE.DISCLOSURE-CREATED' | translate }}</b>
            <p style="white-space: pre-wrap;">
                {{ 'DISCLOSURE.CREATE-DISCLOSURE.DISCLOSURE-CREATED-TEXT' | translate }}
            </p>

            <a mat-button
                type="button"
                class="send"
                target="_blank"
                routerLink="/disclosure/{{ submittedId }}">
                {{ 'DISCLOSURE.CREATE-DISCLOSURE.OPEN-DISCLOSURE' | translate }}
            </a>
        </div>

        <div class="legend" style="margin-top: 30px;">
            <div class="fill-remaining"></div>
            <button mat-button
                type="button"
                class="cancel"
                (click)="closeDialog()">
                {{ 'COMMON.CLOSE' | translate }}
            </button>
            <div class="fill-remaining"></div>
        </div>
    </div>

</div>
