.list {
    flex: 2 2 0;
    display: flex;
    flex-direction: column;
}


    .facility-table {
        margin-bottom: 30px;
    }

    .list .table-row {
        display: flex;
        align-items: center;
        flex-direction: row;
    }


    .list .table-item {
        border-radius: 10px;
        padding: 17px 20px;
        margin-bottom: 2px;
        border: #d2d2d2 solid 2px;
        background: white;
    }


    .list .checkbox { flex: 1 1 0; }
    .list .name-gsrn { flex: 5 5 0; }
    .list .address { flex: 5 5 0; }

    .list .name {
        display: block;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 4px;
    }

    .list .empty {
        padding: 40px 0;
        margin-bottom: 2px;
        justify-content: center;
        text-align: center;
        border: #d2d2d2 solid 2px;
        border-radius: 10px;
    }


button, a {
    border: none;
    border-radius: 30px;
    padding: 2px 50px;
    cursor: pointer;
}

button.cancel {
    background-color: #d2d2d2; 
    color: #797979;
}

button.send, a.send {
    background-color: #4d8a8b; 
    color: white;
}




.field {
    flex: 9 9 0;
    width: calc(100% - 32px);
    min-width: 100px;
    padding: 8px 16px;
    margin-bottom: 10px;
    background-color: white;
    
    font-size: 1em;
    font-weight: bold;
    color: #a6a6a6;
    
    outline: none;
    border: #c1c1c1 solid 2px;
    border-radius: 20px;
}

.field:disabled,
.disabled {
    opacity: 0.5;
}


input:focus {
    color: #4d8a8b;
    border: #4d8a8b solid 2px;
}
