<table width="100%" cellpadding="8" cellspan="2" class="agreement">
    <tr>
        <td>{{ 'AGREEMENT-DETAILS.DIRECTION' | translate }}:</td>
        <td style="display: flex; flex-direction: row; align-items: center; text-transform: capitalize;">
            <mat-icon *ngIf="agreement.isOutbound" style="color: red">north_east</mat-icon>
            <mat-icon *ngIf="agreement.isInbound" style="color: green">south_west</mat-icon>
            <b *ngIf="agreement.isOutbound">{{ 'COMMON.OUTBOUND' | translate }}</b>
            <b *ngIf="agreement.isInbound">{{ 'COMMON.INBOUND' | translate }}</b>
        </td>
    </tr>
    <tr>
        <td>{{ 'AGREEMENT-DETAILS.COUNTERPART' | translate }}:</td>
        <td><b>{{ agreement.counterpart }}</b></td>
    </tr>
    <tr>
        <td width="30%">{{ 'AGREEMENT-DETAILS.SUBJECT' | translate }}:</td>
        <td><b>{{ agreement.reference }}</b></td>
    </tr>
    <tr>
        <td>{{ 'AGREEMENT-DETAILS.BEGIN' | translate }}:</td>
        <td><b>{{ agreement.dateFrom | date }}</b></td>
    </tr>
    <tr>
        <td>{{ 'AGREEMENT-DETAILS.END' | translate }}:</td>
        <td><b>{{ agreement.dateTo | date }}</b></td>
    </tr>
    <tr>
        <td>{{ 'AGREEMENT-DETAILS.MAX-AMOUNT' | translate }}:</td>
        <td>
            <b>{{ agreement.amount }} {{ agreement.unit }} {{ 'AGREEMENT-DETAILS.PER-HOUR' | translate }}</b>
            <span *ngIf="agreement.amountPercent && agreement.isOutbound">
                (<span [translate]="'AGREEMENT-DETAILS.UP-TO-PERCENT'" [translateParams]="{percent: agreement.amountPercent}"></span>)
            </span>
        </td>
    </tr>
    <tr *ngIf="agreement.limitToConsumption">
        <td colspan="2">
            <img src="/assets/icon_limited_to_consumption.png">
            {{ 'AGREEMENT-DETAILS.LIMITED-TO-CONSUMPTION' | translate }}
        </td>
    </tr>
    <tr *ngIf="showTechnology" valign="top">
        <td>{{ 'AGREEMENT-DETAILS.TECHNOLOGIES' | translate }}:</td>
        <td *ngIf="!agreement.technologies"><b>Any</b></td>
        <td *ngIf="agreement.technologies" style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div *ngFor="let technology of agreement.technologies"
                 style="display: flex; flex-direction: row; align-items: center; margin: 0 8px 8px 0;">

                <div class="energy-type-avatar {{ technology }}"></div>
                <div>&nbsp;</div>
                <div><b>{{ technology }}</b></div>
            </div>
        </td>
    </tr>
</table>
