
<table width="100%" cellpadding="8" cellspan="2" class="agreement">
    <tr>
        <td>Direction:</td>
        <td style="display: flex; flex-direction: row; align-items: center; text-transform: capitalize;">
            <mat-icon *ngIf="agreement.isOutbound" style="color: red">north_east</mat-icon>
            <mat-icon *ngIf="agreement.isInbound" style="color: green">south_west</mat-icon>
            <b>{{ agreement.directionString }}</b>
        </td>
    </tr>
    <tr>
        <td>Counterpart:</td>
        <td><b>{{ agreement.counterpart }}</b></td>
    </tr>
    <tr>
        <td width="30%">Subject:</td>
        <td><b>{{ agreement.reference }}</b></td>
    </tr>
    <tr>
        <td>Begin:</td>
        <td><b>{{ agreement.dateFrom | date }}</b></td>
    </tr>
    <tr>
        <td>End:</td>
        <td><b>{{ agreement.dateTo | date }}</b></td>
    </tr>
    <tr>
        <td>Max. amount:</td>
        <td>
            <b>{{ agreement.amount }} {{ agreement.unit }} per hour</b>
            <span *ngIf="agreement.amountPercent && agreement.isOutbound">
                (or up to {{ agreement.amountPercent }}% of GGOs)
            </span>
        </td>
    </tr>
    <tr *ngIf="agreement.limitToConsumption">
        <td colspan="2">
            <img src="/assets/icon_limited_to_consumption.png">
            This agreement is limited to the recipient's consumption.
            GGOs are only transferred as long as the recipient has
            consumption which is not coved by GGOs.
        </td>
    </tr>
    <tr *ngIf="showTechnology" valign="top">
        <td>Technologies:</td>
        <td *ngIf="!agreement.technologies"><b>Any</b></td>
        <td *ngIf="agreement.technologies" style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div *ngFor="let technology of agreement.technologies"
                 style="display: flex; flex-direction: row; align-items: center; margin: 0 8px 8px 0;">

                <div class="energy-type-avatar {{ technology }}"></div>
                <div>&nbsp;</div>
                <div><b>{{ technology }}</b></div>
            </div>
        </td>
    </tr>
</table>
