<div class="container">
    <div class="header">
        <img src="/assets/logo.png">
    </div>
    <div class="body">

        TODO beskrivelse her!

    </div>

    <app-loading-view *ngIf="loading"></app-loading-view>
</div>


<div class="container" *ngIf="!exists && !loading">
    <div class="body">

        <h1>Disclosure not found</h1>
        <p>
            The data you are looking for is not available.
        </p>

    </div>
</div>


<div class="container" *ngFor="let dataseries of data">
    <div class="body">

        <app-disclosure-chart
            [labels]="labels"
            [dataseries]="dataseries">
        </app-disclosure-chart>

    </div>
</div>
