
<div class="dialog-header">
    <h1>SENT PROPOSAL</h1>
    <h2 *ngIf="agreement.isInbound">Agreement proposal to receive GGOs from {{ agreement.counterpart }}</h2>
    <h2 *ngIf="agreement.isOutbound">Agreement proposal to send GGOs to {{ agreement.counterpart }}</h2>
</div>


<div class="dialog-body">


    <p *ngIf="agreement.proposalNote">
        <b>Note from sender:</b> {{ agreement.proposalNote }}
    </p>

    <app-agreement-details-table
        [agreement]="agreement">
    </app-agreement-details-table>


    <div>&nbsp;</div>


    <!-- Buttons -->
    <div class="legend">
        <button mat-button
            type="button"
            class="cancel"
            (click)="closeDialog()">
            CLOSE
        </button>

        <div class="fill-remaining"></div>

        <button mat-button
            type="button"
            class="send"
            [disabled]="loading"
            (click)="withdrawProposal()">
            {{ loading ? 'WITHDRAWING..' : 'WITHDRAW PROPOSAL' }}
        </button>
    </div>

</div>
