
<div class="dialog-header">
    <h1>{{ 'CREATE-AGREEMENT.SENT-PROPOSAL' | translate }}</h1>

    <h2 *ngIf="agreement.isInbound"
        [translate]="'CREATE-AGREEMENT.PROPOSAL-TO-RECEIVE-GGOS'"
        [translateParams]="{company: agreement.counterpart}"></h2>
    <h2 *ngIf="agreement.isOutbound"
        [translate]="'CREATE-AGREEMENT.PROPOSAL-TO-SEND-GGOS'"
        [translateParams]="{company: agreement.counterpart}"></h2>
</div>


<div class="dialog-body">
    <p *ngIf="agreement.proposalNote">
        <b>{{ 'CREATE-AGREEMENT.NOTE-FROM-SENDER' | translate }}:</b>
        {{ agreement.proposalNote }}
    </p>

    <app-agreement-details-table
        [agreement]="agreement">
    </app-agreement-details-table>

    <div>&nbsp;</div>

    <!-- Buttons -->
    <div class="legend">
        <button mat-button
            type="button"
            class="cancel"
            (click)="closeDialog()">
            {{ 'COMMON.CLOSE' | translate }}
        </button>

        <div class="fill-remaining"></div>

        <button mat-button
            type="button"
            class="send"
            [disabled]="loading"
            (click)="withdrawProposal()">
            {{ loading ? ('CREATE-AGREEMENT.WITHDRAWING' | translate) : ('CREATE-AGREEMENT.WITHDRAW-PROPOSAL' | translate) }}
        </button>
    </div>
</div>
