
<p *ngIf="errors" style="color: red">
    <b>{{ 'SUPPORT.ERROR-TEXT' | translate }}</b>
</p>

<p *ngIf="submitted" class="success">
    <b>{{ 'SUPPORT.SUBMITTED-TEXT' | translate }}</b>
</p>

<form [formGroup]="form" *ngIf="!submitted">
    <table width="100%">
        <tr valign="top">
            <td><b>{{ 'SUPPORT.ENQUIRY-TYPE' | translate }}:</b></td>
            <td>
                <div class="field">
                    <mat-select formControlName="subjectType" >
                        <mat-option *ngFor="let st of subjectTypes" [value]="st.value">
                            {{st.label}}
                        </mat-option>
                    </mat-select>
                </div>
            </td>
        </tr>
        <tr valign="top" *ngIf="errors !== null && errors.hasOwnProperty('email')">
            <td></td>
            <td><p style="color: red"><b>{{ 'SUPPORT.FIELD-IS-REQUIRED' | translate }}</b></p></td>
        </tr>
        <tr valign="top">
            <td><b>{{ 'SUPPORT.EMAIL' | translate }}:</b></td>
            <td>
                <input matInput
                    type="text"
                    placeholder="{{ 'SUPPORT.EMAIL-PLACEHOLDER' | translate }}"
                    class="field"
                    formControlName="email">
            </td>
        </tr>
        <tr valign="top" *ngIf="errors !== null && errors.hasOwnProperty('phone')">
            <td></td>
            <td><p style="color: red"><b>{{ 'SUPPORT.FIELD-IS-REQUIRED' | translate }}</b></p></td>
        </tr>
        <tr valign="top">
            <td><b>{{ 'SUPPORT.PHONE' | translate }}:</b></td>
            <td>
                <input matInput
                    type="text"
                    placeholder="{{ 'SUPPORT.PHONE-PLACEHOLDER' | translate }}"
                    class="field"
                    formControlName="phone">
            </td>
        </tr>
        <tr valign="top" *ngIf="errors !== null && errors.hasOwnProperty('subject')">
            <td></td>
            <td><p style="color: red"><b>{{ 'SUPPORT.FIELD-IS-REQUIRED' | translate }}</b></p></td>
        </tr>
        <tr valign="top">
            <td><b>{{ 'SUPPORT.SUBJECT' | translate }}:</b></td>
            <td>
                <input matInput
                    type="text"
                    placeholder="{{ 'SUPPORT.SUBJECT-PLACEHOLDER' | translate }}"
                    class="field"
                    formControlName="subject">
            </td>
        </tr>
        <tr valign="top" *ngIf="errors !== null && errors.hasOwnProperty('message')">
            <td></td>
            <td><p style="color: red"><b>{{ 'SUPPORT.FIELD-IS-REQUIRED' | translate }}</b></p></td>
        </tr>
        <tr valign="top">
            <td><b>{{ 'SUPPORT.MESSAGE' | translate }}:</b></td>
            <td>
                <textarea matInput
                    type="text"
                    placeholder="{{ 'SUPPORT.MESSAGE-PLACEHOLDER' | translate }}"
                    class="field"
                    rows="10"
                    formControlName="message"></textarea>
            </td>
        </tr>
        <tr valign="top">
            <td><b>{{ 'SUPPORT.UPLOAD-FILE' | translate }}:</b></td>
            <td>
                <input 
                    class="ng-hide"
                    id="input-file-id"
                    type="file"
                    formControlName="fileName"
                    (change)="onFileChange($event)" />
            </td>
        </tr>
        <tr valign="top">
            <td></td>
            <td>&nbsp;</td>
        </tr>
        <tr valign="top">
            <td></td>
            <td>
                <mat-checkbox formControlName="recipe">
                    {{ 'SUPPORT.SEND-ME-A-COPY' | translate }}
                </mat-checkbox>
            </td>
        </tr>
        <tr valign="top">
            <td></td>
            <td>&nbsp;</td>
        </tr>
        <tr valign="top">
            <td></td>
            <td>
                <button mat-button
                    type="button"
                    class="send"
                    [disabled]="loading"
                    (click)="submit()">
                    {{ 'SUPPORT.SUBMIT-ENQUIRY' | translate }}
                </button>
            </td>
        </tr>
    </table>
</form>
