
.navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    padding: 17px 20px;
    margin-bottom: 20px;
    border: #d2d2d2 solid 2px;
    background-color: #f0efef;
}
