

button.trade {
    color: white;
}


.agreement-table {
    margin-bottom: 30px;
}


.table-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
}

.table-legend {
    margin: 10px 0;
    padding: 10px 20px;
    color: #363636;
    background-color: #f0efef;
}

.table-item {
    cursor: pointer;
    padding: 17px 20px;
    margin-bottom: 2px;
    border: #d2d2d2 solid 2px;
}

.table-item.selected {
    background-color: #f0efef;
    border: #61ac95 solid 2px;
}

.empty {
    padding: 40px 0;
    margin-bottom: 2px;
    justify-content: center;
    text-align: center;
    border: #d2d2d2 solid 2px;
}


.counterpart { flex: 3 3 0; }
.technology { flex: 1 1 0; }
.facility { flex: 2 2 0; }
.priority { flex: 2 2 0; text-align: center; }
.amount { flex: 1 1 0; }
.status { flex: 3 3 0; }
.period { flex: 2 2 0; }
.icon { flex: 1 1 0; }

.name {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px;
}

.amount .value {
    font-size: 24px;
    font-weight: bold;
}

.pending {
    font-size: 24px;
    font-weight: bold;
    color: #f4d34f;
}
