
<div class="dashboard">

    <div class="filters">
        <app-commodities-filters
            [dateFrom]="dateFrom"
            [dateTo]="dateTo"
            [filters]="filters">
        </app-commodities-filters>
    </div>

    <div class="details">
      <mat-card>
          <mat-card-content>
                <div class="legend">
                    <h1>Produced power and issued GGOs</h1>
                    <div class="fill-remaining"></div>
                    <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">EXPORT CSV</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="exportMeasurements()">Measurements</button>
                        <button mat-menu-item (click)="exportGgoSummary()">GGO Summary</button>
                        <button mat-menu-item (click)="exportGgoList()">GGO List</button>
                    </mat-menu>
                </div>

              <app-commodity-plot
                  [dateFrom]="dateFrom"
                  [dateTo]="dateTo"
                  [filters]="filters"
                  measurementType="production">
              </app-commodity-plot>
          </mat-card-content>
          
          <br><br>

          <mat-card-content>
                <div class="legend">
                    <h1>Consumed power and retired GGOs</h1>
                    <div class="fill-remaining"></div>
                    <button type="button" mat-flat-button color="primary" (click)="createDisclosure()">DISCLOSE DATA</button>
                </div>

              <app-commodity-plot
                  [dateFrom]="dateFrom"
                  [dateTo]="dateTo"
                  [filters]="filters"
                  measurementType="consumption">
              </app-commodity-plot>
          </mat-card-content>
      </mat-card>

    </div>

</div>
