<div class="page">

    <!-- Left column -->
    <div class="about">
        <mat-card>
            <mat-card-content>
                <app-commodities-filters
                    [dateFrom]="dateFrom"
                    [dateTo]="dateTo"
                    [filters]="filters">
                </app-commodities-filters>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- /Left column -->


    <!-- Right column -->
    <div class="content">
        <mat-card>
            <mat-card-content>
                <div class="legend">
                    <h1>{{ 'COMMODITIES.PRODUCED-POWER-ISSUED-GGOS' | translate }}</h1>
                    <div class="fill-remaining"></div>

                    <button mat-flat-button
                        color="primary"
                        [matMenuTriggerFor]="menu"
                        matTooltip="{{ 'COMMODITIES.EXPORT-CSV.TOOLTIP' | translate }}"
                        matTooltipPosition="above">
                        {{ 'COMMODITIES.EXPORT-CSV.BUTTON-TEXT' | translate }}
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="exportMeasurements()">
                            {{ 'COMMODITIES.EXPORT-CSV.MEASUREMENTS' | translate }}
                        </button>
                        <button mat-menu-item (click)="exportGgoSummary()">
                            {{ 'COMMODITIES.EXPORT-CSV.GGO-SUMMARY' | translate }}
                        </button>
                        <button mat-menu-item (click)="exportGgoList()">
                            {{ 'COMMODITIES.EXPORT-CSV.GGO-LIST' | translate }}
                        </button>
                    </mat-menu>
                </div>

                <app-commodity-plot
                    [dateFrom]="dateFrom"
                    [dateTo]="dateTo"
                    [filters]="filters"
                    measurementType="production"
                    ggoCategory="issued">
                </app-commodity-plot>
            </mat-card-content>

            <br><br>

            <mat-card-content>
                <div class="legend">
                    <h1>{{ 'COMMODITIES.CONSUMED-POWER-RETIRED-GGOS' | translate }}</h1>

                    <div class="fill-remaining"></div>

                    <button mat-flat-button
                        type="button"
                        color="primary"
                        (click)="createDisclosure()"
                        matTooltip="{{ 'COMMODITIES.DISCLOSE-DATA.TOOLTIP' | translate }}"
                        matTooltipPosition="above">
                        {{ 'COMMODITIES.DISCLOSE-DATA.BUTTON-TEXT' | translate }}
                    </button>
                </div>

                <app-commodity-plot
                    [dateFrom]="dateFrom"
                    [dateTo]="dateTo"
                    [filters]="filters"
                    measurementType="consumption"
                    ggoCategory="retired">
                </app-commodity-plot>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- /Right column -->

</div>
