
<div class="facilities">

    <div class="about">
        <mat-card>
            <mat-card-content>
                <h1>{{ 'FORECAST.ABOUT.HEADLINE' | translate }}</h1>
                <p style="white-space: pre-wrap;">
                    {{ 'FORECAST.ABOUT.TEXT' | translate }}
                </p>
            </mat-card-content>
        </mat-card>


        <mat-card>
            <mat-card-content>
                <h1>{{ 'FORECAST.SERIES.HEADLINE' | translate }}</h1>
                <p style="white-space: pre-wrap;">
                    {{ 'FORECAST.SERIES.TEXT' | translate }}
                </p>


                <h2>{{ 'FORECAST.SERIES.RECEIVED' | translate }}</h2>

                <div matRipple class="series"
                    *ngFor="let reference of sentSeries"
                    (click)="selectSeries(reference)"
                    [class.selected]="isSelected(reference)">

                    {{ reference }}
                </div>

                <br>

                <h2>{{ 'FORECAST.SERIES.SENT' | translate }}</h2>

                <div matRipple class="series"
                    *ngFor="let reference of receivedSeries"
                    (click)="selectSeries(reference)"
                    [class.selected]="isSelected(reference)">

                    {{ reference }}
                </div>
            </mat-card-content>
        </mat-card>
    </div>


    <div class="list">
        
        <mat-card *ngIf="!selectedReference">
            <mat-card-content>
                <h1>{{ 'FORECAST.CONTENT.HEADLINE' | translate }}</h1>
                <div>
                    {{ 'FORECAST.CONTENT.EMPTY' | translate }}
                </div>
            </mat-card-content>
        </mat-card>


        <app-forecast-details
            [reference]="selectedReference"
            [offset]="offset"
            (previous)="navigatePrevious()"
            (next)="navigateNext()"
            *ngIf="selectedReference">
        </app-forecast-details>

        
        <app-forecast-history
            [reference]="selectedReference"
            [offset]="offset"
            (offsetChange)="onOffsetChange($event)"
            *ngIf="selectedReference">
        </app-forecast-history>

    </div>

</div>
