
<div class="facilities">

    <div class="about">
        <mat-card>
            <mat-card-content>
                <h1>About</h1>
                <p>
                    TODO write me
                </p>
            </mat-card-content>
        </mat-card>


        <mat-card>
            <mat-card-content>
                <h1>Forecast series</h1>
                <p>
                    TODO write me
                </p>


                <h2>Received forecasts</h2>

                <div matRipple class="series"
                    *ngFor="let reference of sentSeries"
                    (click)="selectSeries(reference)"
                    [class.selected]="isSelected(reference)">

                    {{ reference }}
                </div>

                <br>

                <h2>Sent forecasts</h2>

                <div matRipple class="series"
                    *ngFor="let reference of receivedSeries"
                    (click)="selectSeries(reference)"
                    [class.selected]="isSelected(reference)">

                    {{ reference }}
                </div>
            </mat-card-content>
        </mat-card>
    </div>


    <div class="list">
        <mat-card>
            <mat-card-content>
                <h1>Forecasts</h1>

                <app-forecast-details
                    [reference]="selectedReference"
                    [offset]="offset"
                    (previous)="navigatePrevious()"
                    (next)="navigateNext()"
                    *ngIf="selectedReference">
                </app-forecast-details>


                <div *ngIf="!selectedReference">
                    Select a series in the menu to the left
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>
