
<div class="container">


    <!-- Inbound -->
    <div class="item">
        <app-ggo-doughnot-chart
            [distribution]="inbound">
        </app-ggo-doughnot-chart>

        <div class="amount">
            {{ inbound.total | formatAmount }}
        </div>

        <div class="label">Inbound</div>
    </div>


    <!-- Stored -->
    <div class="item">
        <app-ggo-doughnot-chart
            [distribution]="stored">
        </app-ggo-doughnot-chart>

        <div class="amount">
            {{ stored.total | formatAmount }}
        </div>

        <div class="label">Stored</div>
    </div>


    <!-- Outbound -->
    <div class="item">
        <app-ggo-doughnot-chart
            [distribution]="outbound">
        </app-ggo-doughnot-chart>

        <div class="amount">
            {{ outbound.total | formatAmount }}
        </div>

        <div class="label">Outbound</div>
    </div>


    <div class="item-divider"></div>


    <!-- Issued -->
    <div class="item">
        <app-ggo-doughnot-chart
            [distribution]="issued">
        </app-ggo-doughnot-chart>

        <div class="amount">
            {{ issued.total | formatAmount }}
        </div>

        <div class="label">Issued</div>
    </div>


    <!-- Retired -->
    <div class="item">
        <app-ggo-doughnot-chart
            [distribution]="retired">
        </app-ggo-doughnot-chart>

        <div class="amount">
            {{ retired.total | formatAmount }}
        </div>

        <div class="label">Retired</div>
    </div>


    <!-- Expired -->
    <div class="item">
        <app-ggo-doughnot-chart
            [distribution]="expired">
        </app-ggo-doughnot-chart>

        <div class="amount">
            {{ expired.total | formatAmount }}
        </div>

        <div class="label">Expired</div>
    </div>



    <div class="overlay" *ngIf="loading || error">
        <app-loading-view *ngIf="loading"></app-loading-view>

        <div *ngIf="error" class="error">
            FAILED TO LOAD PLOT DATA<br><br>
            <button mat-flat-button color="primary" (click)="loadData()">TRY AGAIN</button>
        </div>
    </div>

</div>
