
<div class="dialog-header">
    <h1>PEAK MEASUREMENT</h1>
    <h2 style="text-align: center;">
        The graph below shows your peak measurement in the selected period.
    </h2>
</div>


<div class="dialog-body">
    <app-commodity-plot
        [dateFrom]="dateFrom"
        [dateTo]="dateTo"
        [measurementType]="measurementType">
    </app-commodity-plot>


    <!-- Buttons -->
    <div class="legend" style="margin-top: 30px;">
        <div class="fill-remaining"></div>
        <button mat-button type="button" class="cancel" (click)="closeDialog()">
            CLOSE
        </button>
        <div class="fill-remaining"></div>
    </div>
</div>
