
<div class="container">

    <mat-card *ngIf="showGettingProfile">
        <mat-spinner [diameter]="40"></mat-spinner><br>
        <b>GETTING PROFILE...</b>
    </mat-card>

    <mat-card *ngIf="showLoginButton">
      <button mat-button (click)="login()">LOGIN!</button>
    </mat-card>

    <mat-card *ngIf="showLoginButton">
      <button mat-button (click)="login()">LOGIN!</button>
    </mat-card>

<!--    <mat-card *ngIf="redirecting">-->
<!--        <mat-spinner [diameter]="40"></mat-spinner><br>-->
<!--        <b>Redirecting...</b>-->
<!--    </mat-card>-->

<!--    <mat-card *ngIf="verifying">-->
<!--        <mat-spinner [diameter]="40"></mat-spinner><br>-->
<!--        <b>Logging in...</b>-->
<!--    </mat-card>-->

</div>
