
<div class="container">

    <mat-card *ngIf="showGettingProfile">
        <mat-spinner [diameter]="40"></mat-spinner><br>
        <b>Signing in...</b>
    </mat-card>

    <mat-card *ngIf="showLoginButton">
      <p>Write a welcome message here?</p>
      <button mat-button color="primary" (click)="login()">SIGN IN</button>
    </mat-card>

<!--    <mat-card *ngIf="redirecting">-->
<!--        <mat-spinner [diameter]="40"></mat-spinner><br>-->
<!--        <b>Redirecting...</b>-->
<!--    </mat-card>-->

<!--    <mat-card *ngIf="verifying">-->
<!--        <mat-spinner [diameter]="40"></mat-spinner><br>-->
<!--        <b>Logging in...</b>-->
<!--    </mat-card>-->

</div>
