<div class="page">

    <!-- Left column -->
    <div class="about">
        <mat-card>
            <mat-card-content>
                <h1>{{ 'FACILITIES.ABOUT.HEADLINE' | translate }}</h1>
                <p style="white-space: pre-wrap;">
                    {{ 'FACILITIES.ABOUT.TEXT' | translate }}
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <h2>{{ 'FACILITIES.IMPORT-FACILITIES.HEADLINE' | translate }}</h2>
                <p>{{ 'FACILITIES.IMPORT-FACILITIES.TEXT' | translate }}</p>

                <button mat-flat-button
                    type="button"
                    color="primary"
                    (click)="startOnboarding()">
                    {{ 'FACILITIES.IMPORT-FACILITIES.BUTTON-TEXT' | translate }}
                </button>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- /Left column -->


    <!-- Right column -->
    <div class="content">

        <mat-card>
            <mat-card-content>
                <h1>{{ 'FACILITIES.HEADLINE' | translate }}</h1>


                <app-loading-view *ngIf="loading"></app-loading-view>


                <div *ngIf="!loading && empty" class="empty">
                    <p><b>{{ 'FACILITIES.NO-FACILITIES-FOUND.HEADLINE' | translate }}</b></p>
                    <p>{{ 'FACILITIES.NO-FACILITIES-FOUND.TEXT' | translate }}</p>
                </div>


                <div *ngIf="!loading && !empty">

                    <!-- Production -->
                    <div class="facility-table">
                        <h2>{{ 'COMMON.PRODUCTION' | translate }}</h2>

                        <div class="table-row table-legend">
                            <span class="name-gsrn">{{ 'COMMON.NAME' | translate }}</span>
                            <span class="address">{{ 'COMMON.ADDRESS' | translate }}</span>
                            <span class="tags">{{ 'COMMON.TAGS' | translate }}</span>
                            <span class="technology">{{ 'COMMON.TECHNOLOGY' | translate }}</span>
                        </div>

                        <div matRipple class="table-row table-item" *ngFor="let facility of producers" (click)="editFacility(facility)">
                            <span class="name-gsrn">
                                <span class="name">
                                    {{ facility.name }}
                                    <app-facility-type-badge
                                        [facilityType]="facility.facilityType">
                                    </app-facility-type-badge>
                                </span>
                                {{ facility.gsrn }}
                            </span>
                            <span class="address">
                                {{ facility.address }}<br>
                                {{ facility.postcode }} {{ facility.cityName }}
                            </span>
                            <span class="tags">
                                {{ facility.tags.join(', ') }}
                            </span>
                            <span class="technology">
                                <div class="energy-type-avatar {{ facility.technology }}"></div>
                                &nbsp;
                                <b>{{ facility.technology }}</b>
                            </span>
                        </div>
                    </div>
                    <!-- /Production -->


                    <!-- Consumption -->
                    <div class="facility-table">
                        <h2>{{ 'COMMON.CONSUMPTION' | translate }}</h2>
                        <div class="table-row table-legend">
                            <span class="name-gsrn">{{ 'COMMON.NAME' | translate }}</span>
                            <span class="address">{{ 'COMMON.ADDRESS' | translate }}</span>
                            <span class="tags">{{ 'COMMON.TAGS' | translate }}</span>
                            <span class="technology"></span>
                        </div>

                        <div matRipple class="table-row table-item" *ngFor="let facility of consumers" (click)="editFacility(facility)">
                            <span class="name-gsrn">
                                <span class="name">
                                    {{ facility.name }}
                                    <app-facility-type-badge
                                        [facilityType]="facility.facilityType">
                                    </app-facility-type-badge>
                                </span>
                                {{ facility.gsrn }}
                            </span>
                            <span class="address">
                                {{ facility.address }}<br>
                                {{ facility.postcode }} {{ facility.cityName }}
                            </span>
                            <span class="tags">
                                {{ facility.tags.join(', ') }}
                            </span>
                            <span class="technology"></span>
                        </div>
                    </div>
                    <!-- /Consumption -->

                </div>

            </mat-card-content>
        </mat-card>
    </div>
    <!-- /Right column -->

</div>
