
<div class="facilities">

    <div class="about">
        <mat-card>
            <mat-card-content>
                <h1>About</h1>
                <p>
                    On this page you have an overview of the facilities (metering points) you have onboarded into your account.
                </p>
                <p>
                    These facilities are split into two categories, production facilities that produce electricity, and consumption facilities that use electricity.
                </p>
                <p>
                    If you click on a facility, you can change the name of a facility or add tags to better enable filtering the facilities. 
                </p>

                <h2>Import facilities</h2>
                <p>
                    By clicking the button below you are redirected to Energinet's DataHub
                    where you can authorize this application to pull data on your facilities.
                </p>

                <button type="button" mat-flat-button color="primary" (click)="startOnboarding()">START ONBOARDING</button>
            </mat-card-content>
        </mat-card>
    </div>


    <div class="list">

        <mat-card>
            <mat-card-content>
                <div class="legend">
                    <h1>Facilities</h1>
                    <div class="fill-remaining"></div>
                    <div class="searchfield">&nbsp;</div>
                </div>


                <app-loading-view *ngIf="loading"></app-loading-view>


                <div *ngIf="!loading && empty" class="empty">
                    <p><b>No facilities found</b></p>
                    <p>Start onboarding from ElOverblik by clicking the button to the left to import your facilities</p>
                </div>


                <div *ngIf="!loading && !empty">

                    <!-- Production -->
                    <div class="facility-table">
                        <h2>Production</h2>
                        <div class="table-row table-legend">
                            <span class="name-gsrn">Name</span>
                            <span class="address">Address</span>
                            <span class="tags">Tags</span>
                            <span class="technology">Category</span>
                        </div>

                        <div matRipple class="table-row table-item" *ngFor="let facility of producers" (click)="editFacility(facility)">
                            <span class="name-gsrn">
                                <span class="name">{{ facility.name }}</span>
                                {{ facility.gsrn }}
                            </span>
                            <span class="address">
                                {{ facility.address }}<br>
                                {{ facility.postcode }} {{ facility.cityName }}
                            </span>
                            <span class="tags">
                                {{ facility.tags.join(', ') }}
                            </span>
                            <span class="technology">
                                <div class="energy-type-avatar {{ facility.technology }}"></div>
                                &nbsp;
                                <b>{{ facility.technology }}</b>
                            </span>
                        </div>
                    </div>

                    <!-- Consumption -->
                    <div class="facility-table">
                        <h2>Consumption</h2>
                        <div class="table-row table-legend">
                            <span class="name-gsrn">Name</span>
                            <span class="address">Address</span>
                            <span class="tags">Tags</span>
                            <span class="technology"></span>
                        </div>

                        <div matRipple class="table-row table-item" *ngFor="let facility of consumers" (click)="editFacility(facility)">
                            <span class="name-gsrn">
                                <span class="name">{{ facility.name }}</span>
                                {{ facility.gsrn }}
                            </span>
                            <span class="address">
                                {{ facility.address }}<br>
                                {{ facility.postcode }} {{ facility.cityName }}
                            </span>
                            <span class="tags">
                                {{ facility.tags.join(', ') }}
                            </span>
                            <span class="technology"></span>
                        </div>
                    </div>
                </div>


            </mat-card-content>
        </mat-card>


    </div>

</div>
