
<div class="dialog-header">
    <h1>Something went wrong</h1>
    <h2>Sorry, we have encountered a problem!</h2>
</div>


<div class="dialog-body">

    <p>
        An unexpected error has occured.
    </p>

    <p>
        The error has been logged for further investigation.
    </p>

    <div class="legend">
        <div class="fill-remaining"></div>

        <button mat-button
            type="button"
            class="cancel"
            (click)="closeDialog()">
            CLOSE
        </button>

        <div class="fill-remaining"></div>
    </div>

</div>
