
<mat-card>
    <mat-card-content>

        <div class="legend">
            <h1>Filter</h1>
            <div class="fill-remaining"></div>
            <button mat-icon-button class="reset" (click)="resetFilters()" matTooltip="Reset all filters" matTooltipPosition="above">&nbsp;</button>
        </div>

        <p style="color: orange">
            <b>TODO WRITE TEXT HERE</b>
        </p>


        <form [formGroup]="form">

            <div class="filter">
                <div class="icon">
                    <img src="/assets/icon_date.png">
                </div>
                <div class="label">Date:</div>
                <div class="field daterange">
                    <input matInput class="dateinput" [satDatepicker]="datePicker" disabled formControlName="date"
                        [min]="minDate"
                        [max]="maxDate">
                    <sat-datepicker #datePicker [rangeMode]="true" disabled="false"></sat-datepicker>
                    <sat-datepicker-toggle matSuffix [for]="datePicker" class="datepicker"></sat-datepicker-toggle>
                </div>
            </div>

            <div class="filter">
                <div class="icon">
                    <img src="/assets/icon_tags.png">
                </div>
                <div class="label">Tags:</div>
                <div class="field">
                    <mat-select formControlName="tags" multiple matTooltip="Filter the commodities based on your own tags. You can define tags on the Facilities page" matTooltipPosition="above">
                        <mat-option *ngFor="let tag of availableTags" [value]="tag">{{tag}}</mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="filter">
                <div class="icon">
                    <img src="/assets/icon_sector.png">
                </div>
                <div class="label">Sector:</div>
                <div class="field">
                    <mat-select formControlName="sectors" multiple>
                        <mat-option *ngFor="let sector of availableSectors" [value]="sector">{{sector}}</mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="filter">
                <div class="icon">
                    <img src="/assets/icon_search_2.png">
                </div>
                <div class="label">Search:</div>
                <div class="field">
                    <input formControlName="text">
                </div>
            </div>


            <div class="divider"></div>


            <div matTooltip="Choose one or more facilities, that you have onboarded. Chosen facilities turn green. You can onboard further facilities on the Facilities page" matTooltipPosition="above">
                <div class="legend">
                    <h2>Specific facilities</h2>
                    <div class="fill-remaining"></div>
                    <button mat-icon-button class="reset" (click)="resetFacilitySelection()" matTooltip="Reset selected facilities" matTooltipPosition="above">&nbsp;</button>
                </div>


                <div class="facilities-container">
                    <div class="facilities" [class.overlayed]="loadingFacilities || errorFacilities">
                        <div matRipple class="table-row table-item"
                            *ngFor="let facility of availableFacilities"
                            (click)="selectFacilitiy(facility)"
                            [class.selected]="isSelected(facility)">

                            

                            <span class="counterpart">
                                <span class="name">
                                    {{ facility.name }}
                                    <app-facility-type-badge [facilityType]="facility.facilityType"></app-facility-type-badge>
                                </span>
                                {{ facility.gsrn }}
                            </span>
                        </div>
                    </div>

                    <div class="overlay" *ngIf="loadingFacilities || errorFacilities">
                        <app-loading-view *ngIf="loadingFacilities"></app-loading-view>

                        <div *ngIf="errorFacilities" class="error">
                            FAILED TO FACILITIES<br><br>
                            <button mat-flat-button color="primary" (click)="loadFacilities()">TRY AGAIN</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </mat-card-content>
</mat-card>
