<div class="page">

    <!-- Left column -->
    <div class="about">
        <mat-card>
            <mat-card-content>
                <h1>{{ 'DASHBOARD.ABOUT.HEADLINE' | translate }}</h1>
                <div>
                    <p>{{ 'DASHBOARD.ABOUT.INTRO' | translate }}</p>
                </div>
                <div>
                    <p>{{ 'DASHBOARD.ABOUT.INFO' | translate }}</p>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <h1>{{ 'COMMON.FILTER' | translate }}</h1>

                <div class="filter">
                    <div class="icon"><img src="/assets/icon_date.png"></div>
                    <div class="label">{{ 'COMMON.FILTERS.DATE' | translate }}:</div>
                    <div class="field daterange">
                        <input matInput disabled
                            class="dateinput"
                            [satDatepicker]="datePicker"
                            (dateChange)="onUserPickedDate($event)"
                            [value]="pickerValue"
                            [min]="minDate"
                            [max]="maxDate">

                        <sat-datepicker #datePicker
                            [rangeMode]="true"
                            disabled="false">
                        </sat-datepicker>
                        <sat-datepicker-toggle matSuffix
                            [for]="datePicker"
                            class="datepicker">
                        </sat-datepicker-toggle>
                    </div>
                </div>

                <br><br>

                <app-zoom-navigate-bar
                    [dateFrom]="dateFrom"
                    [dateTo]="dateTo"
                    (dateChange)="onUserNavigated($event)"
                    (dateReset)="onReset()">
                </app-zoom-navigate-bar>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- /Left column -->


    <!-- Right column -->
    <div class="content">


        <mat-card *ngIf="loading" style="height: 454px;">
            <mat-card-content>
                <app-loading-view></app-loading-view>
            </mat-card-content>
        </mat-card>


        <app-emission-overview
            *ngIf="!loading"
            [dateFrom]="dateFrom"
            [dateTo]="dateTo"
            [individual]="individual"
            [general]="general">
        </app-emission-overview>


        <mat-card>
            <mat-card-content>
                <h1>{{ 'DASHBOARD.PRODUCTION-CONSUMPTION-FACILITIES' | translate }}</h1>
                <h2>{{ 'DASHBOARD.PRODUCED-POWER-ISSUED-GGOS' | translate }}</h2>

                <app-commodity-plot
                    [dateFrom]="dateFrom"
                    [dateTo]="dateTo"
                    measurementType="production"
                    ggoCategory="issued">
                </app-commodity-plot>

                &nbsp;<br>

                <h2>{{ 'DASHBOARD.CONSUMED-POWER-RETIRED-GGOS' | translate }}</h2>

                <app-commodity-plot
                    [dateFrom]="dateFrom"
                    [dateTo]="dateTo"
                    measurementType="consumption"
                    ggoCategory="retired">
                </app-commodity-plot>
            </mat-card-content>
        </mat-card>

    </div>
    <!-- /Right column -->

</div>
