
<div class="dialog-header">
    <h1>{{ 'CREATE-AGREEMENT.RECEIVED-PROPOSAL' | translate }}</h1>

    <h2 *ngIf="agreement.isInbound"
        [translate]="'CREATE-AGREEMENT.PROPOSAL-TO-RECEIVE-GGOS'"
        [translateParams]="{company: agreement.counterpart}"></h2>
    <h2 *ngIf="agreement.isOutbound"
        [translate]="'CREATE-AGREEMENT.PROPOSAL-TO-SEND-GGOS'"
        [translateParams]="{company: agreement.counterpart}"></h2>
</div>


<div class="dialog-body">
    <p *ngIf="agreement.proposalNote">
        <b>{{ 'CREATE-AGREEMENT.NOTE-FROM-SENDER' | translate }}:</b>
        {{ agreement.proposalNote }}
    </p>

    <app-agreement-details-table
        [agreement]="agreement"
        [showTechnology]="!canSelectTechnologies">
    </app-agreement-details-table>

    <div>&nbsp;</div>

    <form [formGroup]="form">

        <!-- Technology -->
        <!-- <div class="field" *ngIf="canSelectTechnologies">
            <mat-select
                formControlName="technology" 
                [placeholder]="loadingTechnologies ? ('COMMON.LOADING' | translate) : 'Select energy category (optional)'">

                <mat-option [value]="null">Any</mat-option>
                <mat-option *ngFor="let technology of availableTechnologies" [value]="technology">
                    {{technology}}
                </mat-option>

            </mat-select>
        </div> -->


        <!-- Transfer percentage -->
        <div class="field" *ngIf="canSelectAmountPercent">
            <mat-checkbox formControlName="showTransferPercent">
                {{ 'CREATE-AGREEMENT.TRANSFER-PERCENT-OF-GGO' | translate }}
            </mat-checkbox>

            <input matInput
                type="text"
                placeholder="{{ 'CREATE-AGREEMENT.TRANSFER-PERCENT-OF-GGO-PLACEHOLDER' | translate }}"
                class="field value"
                *ngIf="expandAmountPercent"
                formControlName="amountPercent">
        </div>

    </form>


    <div>&nbsp;</div>


    <!-- Buttons -->
    <div class="legend">
        <button mat-button
            type="button"
            class="cancel"
            [disabled]="submitting"
            (click)="declineProposal()">
            {{ declining ? ('CREATE-AGREEMENT.DECLINING' | translate) : ('CREATE-AGREEMENT.DECLINE-PROPOSAL' | translate) }}
        </button>

        <div class="fill-remaining"></div>

        <button mat-button
            type="button"
            class="send"
            [disabled]="submitting"
            (click)="acceptProposal()">
            {{ accepting ? ('CREATE-AGREEMENT.ACCEPTING' | translate) : ('CREATE-AGREEMENT.ACCEPT-PROPOSAL' | translate) }}
        </button>
    </div>

</div>
