
<div class="dialog-header">
    <h1>{{ headline1 }}</h1>
    <h2>{{ headline2 }}</h2>
</div>


<div class="dialog-body">

    <form [formGroup]="form">

        <!-- Direction (inbound/outbound) -->
        <div class="legend">
            <div class="fill-remaining"></div>

            <mat-button-toggle-group formControlName="direction">
                <mat-button-toggle value="outbound">Outbound</mat-button-toggle>
                <div class="space"></div>
                <mat-button-toggle value="inbound">Inbound</mat-button-toggle>
            </mat-button-toggle-group>

            <div class="fill-remaining"></div>
        </div>


        <!-- Reference ID -->
        <div style="color: red;" *ngFor="let error of errors.reference">- {{ error }}</div>
        <input matInput
            type="text"
            placeholder="Enter subject of your own choosing"
            class="field"
            [class.error]="errors.reference.length > 0"
            (input)="resetErrorsFor('reference')"
            formControlName="reference">
        

        <!-- Counterpart -->
        <div style="color: red;" *ngFor="let error of errors.counterpartId">- {{ error }}</div>

        <div *ngIf="!hasCounterpart()">
            <input 
                matInput type="text"
                placeholder="Enter counterpart name"
                class="field"
                [class.error]="errors.counterpartId.length > 0"
                [matAutocomplete]="auto"
                (input)="resetErrorsFor('counterpartId')"
                formControlName="counterpart">
            
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCounterpartSelected($event)">
                <mat-option *ngFor="let user of (filteredCounterparts | async)" [value]="user">
                    {{ user.company }} ({{ user.name }})
                </mat-option>
            </mat-autocomplete>
        </div>

        <div *ngIf="hasCounterpart()" class="field disabled legend">
            <div>{{ counterpart }}</div>
            <div class="fill-remaining"></div>
            <a mat-button (click)="resetCounterpart()" *ngIf="canSelectCounterpart">X</a>
        </div>


        <!-- Technology -->
        <div class="field" [class.disabled]="!canSelectTechnology">
            <mat-select
                formControlName="technology" 
                [placeholder]="loadingFilteringOptions ? 'Loading...' : 'Select energy category (optional)'">

                <mat-option [value]="null">Any</mat-option>
                <mat-option *ngFor="let technology of availableTechnologies" [value]="technology">
                    {{technology}}
                </mat-option>

            </mat-select>
        </div>


        <!-- Facilities -->
        <div class="field" [class.disabled]="!canSelectFacilities" *ngIf="showFacilities">
            <mat-select
                formControlName="facilityIds"
                [placeholder]="loadingFacilities ? 'Loading...' : 'All facilities'"
                multiple>

                <mat-option *ngFor="let facility of availableFacilities" [value]="facility.id">
                    {{facility.name}} ({{facility.gsrn}})
                </mat-option>
            </mat-select>
        </div>


        <!-- Amount -->
        <div style="color: red;" *ngFor="let error of errors.amount">- {{ error }}</div>
        <div class="amount">
            <input matInput
                type="text"
                placeholder="Enter amount"
                class="field value"
                [class.error]="errors.amount.length > 0"
                (input)="resetErrorsFor('amount')"
                formControlName="amount">
            
            <div class="field unit" [class.disabled]="isDisabled">
                <mat-select formControlName="unit" placeholder="Unit">
                    <mat-option *ngFor="let unit of availableUnits" [value]="unit">
                        {{ unit }}
                    </mat-option>
                </mat-select>
            </div>
        </div>


        <!-- Date period -->
        <div style="color: red;" *ngFor="let error of errors.date">- {{ error }}</div>
        <div class="date">
            <input matInput
                class="field value"
                placeholder="Choose a period"
                formControlName="date"
                [class.error]="errors.date.length > 0"
                [satDatepicker]="datePicker"
                (input)="resetErrorsFor('date')"
                (change)="resetErrorsFor('date')"
                [min]="minDate"
                [max]="maxDate">

            <div class="picker" [style.display]="canSelectDates ? 'block' : 'none'">
                <sat-datepicker #datePicker [rangeMode]="true"></sat-datepicker>
                <sat-datepicker-toggle  [for]="datePicker"></sat-datepicker-toggle>
            </div>
        </div>


        <div>&nbsp;</div>


        <!-- Buttons -->
        <div class="legend">
            <button mat-button
                type="button"
                class="cancel"
                (click)="closeDialog()"
                *ngIf="showCancelButton">
                CANCEL
            </button>

            <button mat-button
                type="button"
                class="cancel"
                [disabled]="loadingSubmitting"
                (click)="declineProposal()"
                *ngIf="showDeclineButton">
                {{ loadingSubmitting ? 'DECLINING..' : 'DECLINE' }}
            </button>

            <div class="fill-remaining"></div>

            <button mat-button
                type="button"
                class="send"
                [disabled]="loadingSubmitting"
                (click)="acceptProposal()"
                *ngIf="showAcceptButton">
                {{ loadingSubmitting ? 'ACCEPTING..' : 'ACCEPT' }}
            </button>

            <button mat-button
                type="button"
                class="send"
                [disabled]="loadingSubmitting"
                (click)="submitProposal()"
                *ngIf="showSubmitButton">
                {{ loadingSubmitting ? 'SENDING..' : 'SUBMIT PROPOSAL' }}
            </button>

            <button mat-button
                type="button"
                class="send"
                [disabled]="loadingSubmitting"
                (click)="withdrawProposal()"
                *ngIf="showWithdrawButton">
                {{ loadingSubmitting ? 'WITHDRAWING..' : 'WITHDRAW PROPOSAL' }}
            </button>
        </div>

    </form>

</div>
