
mat-dialog-content {
    padding-top: 24px;
}

mat-button-toggle-group {
    background-color: white;
    border: #4d8a8b solid 2px;
    border-radius: 20px;
    padding: 2px;
}

mat-button-toggle,
mat-button-toggle.mat-button-toggle-disabled {
    border: none !important;
    padding: 8px 10px;
    font-size: 1em;
    font-weight: bold;
    color: #a6a6a6;
    line-height: 1em;
}

mat-button-toggle.mat-button-toggle-disabled {
    background-color: white;
}


::ng-deep .mat-button-toggle-label-content {
    color: #4d8a8b;
    line-height: 10px !important;
}

::ng-deep .mat-button-toggle-checked,
.mat-button-toggle-disabled.mat-button-toggle-checked {
    border: 1px solid #c5c0c7;
    background-color: #4d8a8b; 
    border-radius: 20px;
    color: white;
 }

 ::ng-deep .mat-button-toggle-checked .mat-button-toggle-label-content {
     color: white;
  }

.mat-button-toggle-disabled {
    border: 1px solid #c5c0c7;
    background-color: #e1dde5;
}


.display-type-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.field {
    flex: 9 9 0;
    width: calc(100% - 32px);
    min-width: 100px;
    padding: 8px 16px;
    margin-bottom: 10px;
    background-color: white;
    
    font-size: 1em;
    font-weight: bold;
    color: #a6a6a6;
    
    outline: none;
    border: #c1c1c1 solid 2px;
    border-radius: 20px;
}

.field:disabled,
.disabled {
    opacity: 0.5;
}

input::placeholder,
::ng-deep .mat-select-placeholder {
    color: #ccc !important;
}

::ng-deep .mat-select-value {
    color: #a6a6a6 !important;
}

input:focus {
    color: #4d8a8b;
    border: #4d8a8b solid 2px;
}

.amount {
    display: flex;
    flex-direction: row;
}

    .amount .value {
        display: inline-block;
        flex: 4 4 0;
        margin-right: 10px;
    }

    .amount .unit {
        display: inline-block;
        flex: 2 2 0;
        margin-right: 10px;
    }

    .amount .all {
        display: inline-block;
        flex: 1 1 0;
    }

.date {
    display: flex;
    flex-direction: row;
}

    .date .value {
        display: inline-block;
        flex: 6 6 0;
        margin-right: 10px;
    }

    .date .picker {
        display: inline-block;
        flex: 1 1 0;
        margin-right: 10px;
    }

.amount .all.selected {
    background-color: #4d8a8b; 
    border: #4d8a8b solid 2px;
    color: white;
}

button {
    border: none;
    border-radius: 30px;
    padding: 2px 50px;
    cursor: pointer;
}

button.cancel {
    background-color: #d2d2d2; 
    color: #797979;
}

button.send {
    background-color: #4d8a8b; 
    color: white;
}
